---
title: Archives
is_hidden: true
css_class: archives
---
%h1 Archives
:textile
  bq. I'm pretty sure that 99% of the blog posts on the Internet fall into one of two categories: 1. "I've set up a new blog" 2. "I'm sorry for not blogging more often." - "Ted Roden":http://www.tedroden.com/
-# TODO: Replace the articles_by_year_month function with articles_by_year
- articles_by_year_month.each do |year, month_h|
  %header
    %h2= year
  %section.archive
    - month_h.each do |month, item_a|
      - item_a.each do |item|
        - url = "#{route_path(item)}"
        %h3<
          %a(href="#{url}" title="Full article" class="permalink")= "#{item[:title]}"
        %time(datetime="#{item[:created_at].gsub('/','-')}")<= item[:created_at]
