---
---
.excerpt
  - url = "#{route_path(item)}"
  .content
    %header
      %time(datetime="#{item[:created_at].gsub('/','-')}")><= "#{item[:created_at]} &laquo;"
      %h2<
        %a(href="#{url}" title="Full article" class="permalink")= "#{item[:title]}"
    .body
      %p
        = item[:excerpt] || "!!! Missing excerpt metadata for <code>#{item[:file].path}</code>"
    
