---
---
.excerpt
  - url = "#{route_path(item)}"
  %header
    %h2<
      %a(href="#{url}" title="Full article" class="permalink")= "#{item[:title]}"
    %time(datetime="#{item[:created_at].gsub('/','-')}")<= item[:created_at]
  .body
    %p
      = item[:excerpt] || "!!! Missing excerpt metadata for <code>#{item[:file].path}</code>"
    
