---
---
:ruby
  def link_unless_current(s)
    "<li><a href='/#{s}.html'>#{s}</a></li>" if @item.identifier != "/#{s}/" 
  end

%header
  %a(href="/")
    %img#avatar(src="/assets/images/avatar_med.png" title="Martin Owen")
  -# %h1#side-header
  -#   %a(href="/")<
  -#     martin&nbsp;owen

%nav.main
  %ul
    = link_unless_current "about"
    = link_unless_current "archives"
    %li
      %a(href='/atom.xml')
        subscribe

%nav.elsewhere
  %ul.social-network-links
    %li
      %a.github{ :href => "http://github.com/mowen"}
        github
    %li
      %a.lastfm{ :href => "http://last.fm/user/martyziff"}
        last.fm
    %li
      %a.twitter{ :href => "http://twitter.com/martinowen"}
        twitter
    %li
      %a.facebook{ :href => "http://facebook.com/martowen"}
        facebook
    %li
      %a.delicious{ :href => "http://delicious.com/mintyboy"}
        delicious
    %li
      %a.linkedin{ :href => "http://uk.linkedin.com/in/martinowenuk"}
        linkedin
